<mat-card class="home mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Help Desk - Estágio Supervisionado 2</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/img/images.jpg" alt="Unicatólica">
  <mat-card-content>
    <p>
      Olá, Seja bem vindo ao meu Helpdesk!
    </p>
    <p>
      Aqui você pode gerenciar chamados de suporte técnico com a maxima eficiência!
    </p>
    <p>
      Utilize a navbar lateral para poder acessar nossas funcionalidades.
    </p>
  </mat-card-content>
</mat-card>